
.NavBar{
    margin: 0 ;
    padding: 1% ;
    height: 50px;
    color:white;
    background-color: rgb(143, 6, 6)
    
}
.header-class{
    margin: 0 auto;
    padding: 0 10%;
   display: flex;
   text-align: center;
   justify-content: space-between;
}
.header-class h1{
    margin: 0 ;
    padding: 0;
}
.header-image{
    /* background-image: url("../image/image2"); */
    background: cover;
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
    background-repeat: no-repeat;
}
.middle-card{
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: -10rem auto auto;
    position: relative;
    background-color: #383838;
    color: #fff;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0,0,0,.25);
}
.middle-card2{
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: 5rem auto auto;
    position: relative;
    background-color: #383838;
    color: #fff;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0,0,0,.25);
}
.newItems-here{
    display: inline-flex;
    text-align: initial;
}

.new-items input{
    border-radius: 9px;
    border: none;
    margin: 4px 0px;
    height: 25px;
}
.new-items label{
font-size: larger;
}
.middle-card2 button{
    background-color: #4d1601;
    border: none;
    border-radius: 5px;
    color :#fff;
}
.cart-button button{
    cursor: grab;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: #fff;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: 700;
}